<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net">
      <description></description>

      <!-- Services -->
      <object id="ICoverArtService"
              type="Propaganda.Audio.Library.CoverArt.AmazonRestService, Propaganda.Audio"
              singleton="true">
      </object>
      <object id="IDatabaseService"
              type="Propaganda.Db4oService.Db4oService, Propaganda.DBService"
              singleton="true">
      </object>

      <!-- Database Implementations -->
      <object id="IAudioDB"
      type="Propaganda.Audio.Db4oAudioDB, Propaganda.Audio"
      singleton="true">
      </object>
      <object id="IVideoDB"
      type="Propaganda.Video.Db4oVideoDB, Propaganda.Video"
      singleton="true">
      </object>

      <!-- Propaganda Core -->
      <object id="PropagandaCore"
              type="Propaganda.Core.PropagandaCore, Core"
              singleton="true">
        <property name="Modules">
          <list element-type="Propaganda.Core.Interfaces.IModule, Core">
            <ref object="AudioModule"/>
            <!--            <ref object="VideoModule"/>-->
          </list>
        </property>
        <property name="Services">
          <list element-type="Propaganda.Core.Interfaces.IService, Core">
            <ref object="BassService"/>
            <!--            <ref object="FoobarService"/>-->
            <ref object="VLCService"/>
            <ref object="Db4oService"/>
          </list>
        </property>
      </object>
      <!-- View Controllers -->
      <object id="MainMenuController" type="Propaganda.Core.Controller.MainMenuController, Core" singleton="false">
        <property name="Core" ref="PropagandaCore"/>
      </object>

      <!-- Audio Module -->
      <object id="AudioModule"
              type="Propaganda.AudioModule.AudioModule, AudioModule"
              singleton="true">
        <!--     <property name="AudioStreamPlayer" ref="VLCService"/>-->
        <property name="AudioFilePlayer" ref="BassService"/>
        <property name="Database" ref="AudioDB"/>
        <property name="Core" ref="PropagandaCore"/>
        <property name="SubModules">
          <list element-type="Propaganda.Core.Interfaces.IComponent, Core">
            <ref object="AudioLibraryManager"/>
            <!--            <ref object="AudioDriveManager"/>-->
          </list>
        </property>
      </object>
      <!-- View Controllers -->
      <object id="AudioMenuController" type="Propaganda.AudioModule.View.AudioMenuController, AudioModule" singleton="false">
        <property name="ParentModule" ref="AudioModule"/>
      </object>
      <object id="AlbumViewController" type="Propaganda.AudioModule.View.AlbumViewController, AudioModule" singleton="false">
        <property name="ParentModule" ref="AudioModule"/>
        <property name="Database" ref="AudioDB"/>
      </object>
      <!-- Background services -->
      <object id="AudioLibraryManager" type="Propaganda.AudioModule.Library.AudioLibraryManager, AudioModule">
        <property name="Database" ref="AudioDB"/>
      </object>
      <object id="LibraryWorker" type="Propaganda.AudioModule.Library.LibraryWorker, AudioModule" singleton="false">
        <property name="Database" ref="AudioDB"/>
      </object>
      <!--      <object id="CDDBService" type="Propaganda.AudioModule.Library.CDDB.FreeDB.FreeDBService, AudioModule">-->
      <!--        <property name="Database" ref="AudioDB"/>-->
      <!--      </object>-->
      <!--      <object id="CDRippingService" type="Propaganda.AudioModule.Library.Ripping.EAC.EACService, AudioModule">-->
      <!--      </object>-->

      <!-- Video Module -->
      <object id="VideoModule"
              type="Propaganda.VideoModule.VideoModule, VideoModule"
              singleton="true">
        <!--      <property name="VideoStreamPlayer" ref="VLCService"/>-->
        <property name="VideoFilePlayer" ref="VLCService"/>
        <property name="Database" ref="VideoDB"/>
        <property name="Core" ref="PropagandaCore"/>
        <property name="SubModules">
          <list element-type="Propaganda.Core.Interfaces.IComponent, Core">
            <ref object="VideoLibraryManager"/>
            <!--            <ref object="VideoDriveManager"/>-->
          </list>
        </property>
      </object>
      <!-- View Controllers -->
      <object id="VideoMenuController" type="Propaganda.VideoModule.View.VideoMenuController, VideoModule" singleton="false">
        <property name="ParentModule" ref="VideoModule"/>
      </object>
      <!-- Background Services-->
      <object id="VideoLibraryManager" type="Propaganda.VideoModule.Library.VideoLibraryManager, VideoModule">
        <property name="Database" ref="VideoDB"/>
      </object>
    </objects>
  </spring>
</configuration>